PORT=4000
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_TTL_VIDEO=7200
REDIS_TTL_FILE=7200
TURN_URL=turn:localhost:3478
TURN_USERNAME=airbond
TURN_CREDENTIAL=changeme
STUN_URL=stun:stun.l.google.com:19302
MONGO_URI=mongodb://localhost:27017/airbond
CHAT_ROOM_TTL_SECONDS=7200
